:root {
    --cor-primaria: rgb(89, 230, 240);
    --cor-secundaria: rgb(240, 63, 19);
    --cor-terciaria: rgb(18, 24, 54);
    --cor-quartearia: rgb(226, 241, 19);
}


body {
    height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    text-align: center;
    gap: 50px;
}


h2 {
    font-size: 40px;
    color: #d60cd6;
    gap: 50px;
    border: 5px solid #062e30;
    padding: 10px;
}

h3 {
    font-size: 40px;
    color: #df10cd;
    gap: 50px;
}

h4 {
    font-size: 40px;
    color: #df10cd;
    gap: 50px;
    border: 5px solid #062e30;
    padding: 10px;
}


p {
    font-family: verdana;
    font-size: 25px;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    text-align: justify;
}


.produtos-foto {
    width: 400px;
    border-radius: 25px;
    border: 5px solid #140808;
}

.botao {
    border: solid 5px blue;
    width: 150px;
    border-radius: 20px;
    color: var(--cor-secundaria);
    background-color: var(--cor-quartearia);
    gap: 50px;
    font-size: 25px;
}

.titulo-pricipal {
    color: #bb0b0b;
    font-size: 100px;
    text-shadow: 5px 10px 5px black;
    gap: 50px;
    padding: 10px;
    background-color: rgb(236, 231, 231);
}

.rodape {
    padding: 50px;
    color: rgb(10, 10, 10);
    background-color: #087d83;
    gap: 50px;
}
@media(max-width: 600px){
    .rodape{
        flex-direction: column 750px;
        flex-direction: row 1020px
    }
    .titulo-pricipal {
        font-size: 25px;
    }
    .produtos-foto {
        width: 60%;
    }
}

